# US housing prices model

## 0. Importing libraries

In [1]:
import numpy as np
import pandas as pd

# FRED API
from fredapi import Fred
# Importing fred API key
path = 'C:\\Users\\kevmi\\OneDrive\\Documentos\\Github Proyects\\API Keys\\FRED\\fred_api_key.txt'
with open(path, 'r') as f:
    lines = f.readlines()
fred_key = lines[0]

### Creating FRED object

In [2]:
fred = Fred(api_key=fred_key)
fred

## 1. Extracting series from FRED and reading Zillow data

### Function that retrieves FRED series with ID of the series

In [30]:
def get_data(series_id, initial_date = '1947-01-01', final_date = '2022-07-01'):
    fred.search(str(series_id), order_by='popularity')
    frame_search = fred.get_series(series_id=str(series_id), observation_start=initial_date,
                                observation_end=final_date)
    frame_id = pd.DataFrame(frame_search)
    return frame_id

### Importing data

In [29]:
# Consumer Price Index
df_cpi = get_data(series_id='CPIAUCSL', initial_date='1947-01-01', final_date='2022-07-01')
# Rental Vacancy Rate in the United States
df_rvr = get_data(series_id='RRVRUSQ156N', initial_date='1956-01-01', final_date='2022-04-01')
# Mortgage interest rate
df_mir = get_data(series_id='MORTGAGE30US', initial_date='1956-01-01', final_date='2022-04-01')
# Median sale price for US houses
df_median_price = pd.read_csv('data/Metro_median_sale_price_uc_sfrcondo_week.csv')
# Zillow home value index
df_zillow = pd.read_csv('data/Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_month.csv')

In [32]:
df_zillow

,RegionID,SizeRank,RegionName,RegionType,StateName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,...,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31
0,102001,0,United States,Country,NaN,108641.264685,108472.728880,108532.280074,108739.077466,108986.621607,...,318648.557319,322227.276010,327377.250887,332206.790140,338002.747686,344042.433111,350515.841789,354717.722904,357473.327397,357107.271636
1,394913,1,"New York, NY",Msa,NY,188550.306900,186833.460516,186448.089063,186132.003064,186023.979536,...,573099.183713,575351.020713,577891.698212,582902.117225,588521.056859,598696.268370,607668.479848,615457.379763,619722.310507,621307.894902
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,186683.041088,186015.165187,185723.797105,185700.155256,185569.298179,...,854076.999683,862487.347366,874894.413168,888106.123973,902359.871460,931407.638755,950811.533011,955845.190020,933648.296046,929753.425908
3,394463,3,"Chicago, IL",Msa,IL,147341.931571,147341.152880,146420.379418,147841.918776,148371.389735,...,288899.103704,290304.887853,291998.702189,294814.368208,298667.824107,304076.779527,308802.105551,314032.378286,315084.424557,314178.550606
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,113283.512989,113199.113561,113519.423633,114048.064719,114287.444295,...,338187.525418,344409.906452,351186.037787,359878.893639,370452.369604,376522.090399,391696.585402,399613.324087,401254.775442,396903.773679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,92899.038250,92999.754549,97296.415265,98217.639150,100010.331287,101084.700150,101376.966610,103321.694906,105794.451088,106244.149398
909,753874,930,"Craig, CO",Msa,CO,66532.401041,66795.083062,67178.691523,67680.532389,67149.040671,...,244845.354879,245187.643589,253767.119261,254926.311559,253700.139970,255387.314731,254937.506748,256166.409003,266655.039121,268370.634013
910,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,169404.973627,171295.739580,178176.871040,178929.217811,179113.938659,181811.015503,184752.025925,187573.847282,192967.342193,193366.794326
911,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,80043.974772,80196.507293,NaN,86966.994296,88535.643138,88556.495891,88921.719463,89261.931509,92129.408692,93197.602418
912,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,341065.613476,341843.734914,NaN,357590.413770,355276.565996,357039.625294,359121.858208,361530.065292,369073.058378,369920.030564